<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- CSS Custom -->
    <link rel="stylesheet" href="../../css/sidebar.css">
    <link rel="stylesheet" href="../../css/index.css">
    
    <title>Dashboard</title>
</head>

<body>
    <main>
        <%- include("layouts/sidebar")  %>
            <div class="container mt-5">
                <div class="text-center mb-5">
                    <h1 class="h3 mb-3 font-weight-normal">User has been deleted</h1>
                </div>

                <a href="/dashboard">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Back</button>
                </a>

            </div>
    </main>
</body>
</html>