<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- CSS Custom -->
    <link rel="stylesheet" href="../../css/sidebar.css">
    <link rel="stylesheet" href="../../css/index.css">

    <title>Dashboard</title>
</head>

<body>
    <main>
        <%- include("layouts/sidebar")  %>
            <div class="container mt-5">
                <form action="/dashboard/register" method="POST">
                    <div class="text-center mb-5">
                        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputUsername">Username</label>
                            <input type="username" class="form-control" id="inputUsername" placeholder="Username" name="username">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                        </div>
                    </div>
                    <h3 class="mt-3">Biodata</h3>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputFullname">Full Name</label>
                            <input type="fullname" class="form-control" id="inputUsername" placeholder="Ex: Markus Naga" name="fullname">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputGender">Gender</label>
                            <input type="gender" class="form-control" id="inputGender" placeholder="Male/Female" name="gender">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="yourname@email.com" name="email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputPhone">Phone Number</label>
                            <input type="phone" class="form-control" id="inputPhone" placeholder="085553333666" name="phone">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                </form>
            </div>
    </main>
</body>
</html>