<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- CSS Custom -->
    <link rel="stylesheet" href="../../css/sidebar.css">
    <link rel="stylesheet" href="../../css/index.css">

    <title>Dashboard</title>
</head>
<body>
    <main>
        <%- include("partials/sidebar") %>
            <div class="container mt-5">
                <form action="/dashboard/score" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="row">
                                <div class="col">
                                    <label for="inputPlayerName">Type player name to search score</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="playername" class="form-control mh-100" id="inputPlayerName" placeholder="Player Name" name="playername">
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Game</th>
                            <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < scores.length; i++) { %>
                            <tr>
                                <td><%= allPlayerName[i] %></td>
                                <td><%= scores[i].game %></td>
                                <td><%= scores[i].score %></td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
    </main>
</body>
</html>